<div id="page" style="height:500px">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first">

      <h3>编辑网站信息首页图片</h3>

      <form accept-charset="UTF-8" action="/index_image" class="simple_form web_info" id="edit_web_info_1" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="zbWqsdkCqrmQp2okCWrLabZFRKCrZmMfxAACOo2fSNo="></div>
        <fieldset>
          <legend>编辑网站信息首页图片</legend>

          <p>
            <label class="required" for="name">网站名称</label><br>
            <input class="half" id="web_info_name" name="web_info[name]" size="30" type="text" value="小船长情商教育">
          </p>
        </fieldset>

</form>  </section></div>

  <!-- End of Wrapper -->
</div>