<div id="top">
  <div class="logo">
    <img src="/image/logo.gif"></div>
  <div class="top_nav">
    <ul>
      <li>
        <a onclick="setHomepage()" href="#">设为首页</a>
      </li>
      <li>
        <a onclick="addCookie()" href="#">加入收藏</a>
      </li>
      <li>
        <a href="#">联系我们</a>
      </li>
    </ul>
  </div>
</div>
<div id="menu">
  <ul>
    <li>
      <a href="/">首页</a>
    </li>

    <% @forum_first.each do |forum| %>
      <li>
        <%=link_to forum.name,"/homes/forums/#{forum.id}"%>
      </li>
    <%end%>
    <li><a href="#">阅读商城</a></li>
    </ul>
</div>