<div id="buttom">
<div class="buttom">
<ul>
<li><a href="/">首页</a>|</li>
<li><a href="/homes/forums/<%=Forum.find_by_code("about").id%>">关于小船长</a>|</li>
<li><a href="#">联系我们</a>|</li>
<li><a href="#">官方微博</a>|</li>
<li><a href="#">诚聘英才</a>|</li>
<li><a href="#">投诉与建议</a>|</li>
<li><a href="#">帮助中心</a></li>
</ul>
<div class="copyright">Copyright 2010 - 2011 61captain.com All Rights Reserved 浙ICP备11039782号</div>
</div>
</div>