
<div id="content">
<%=  render "common/left"%>


<div id="right">
<div class="course_content">
<div class="course_title"><img src="/image/course/course_10.jpg"><span>课程介绍</span></div>
<div class="course_pic">
<img src="/image/course/course_03.jpg">
</div>
</div>

<div class="course_content">
<div class="course_title"><img src="/image/course/course_10.jpg"><span>情商培训体系</span></div>
<div class="course_pic">
<img src="/image/course/course_07.jpg">
</div>
</div>

<div class="course_content">
<div class="course_title"><img src="/image/course/course_10.jpg"><span>情商三阶段</span></div>
<div class="course_pic">
<img src="/image/course/course_09.jpg">
</div>
</div>

<div class="course_content">
<div class="course_title"><img src="/image/course/course_10.jpg"><span>情商受训流程图</span></div>
<div class="course_pic">
<img src="/image/course/course_11.jpg">
</div>
</div>

<div class="course_content">
<div class="course_title"><img src="/image/course/course_10.jpg"><span>情商五大维度十五项指标体系</span></div>
<div class="course_pic">
<img src="/image/course/course_13.jpg">
</div>
</div>


</div>

</div>