<div id="left">
<div class="left_menu">
  <%@forum =Forum.find_by_code("index") if !@forum%>
<div class="left_menu_title"><span><%=!@forum.name%></span></div>
<%if@forum.children and @forum.children.length !=0%>
<%forum_left = @forum.children%>
<%else%>
  <%if  @forum.father and @forum.father.children.length !=0%>
  <%forum_left = @forum.father.children%>
  <%else%>
  <%forum_left = Forum.find(:all,:conditions=>["father_id is null and order_num > 0 and order_num <11 and id != #{@forum.id} and code !='index'"],:order=>"order_num desc")%>
  <%end%>
<%end%>
<ul>

    <%forum_left.each do |forum| %>
      <li>
        <%=link_to forum.name,"/homes/forums/#{forum.id}"%>
      </li>
    <%end%>
</ul>
</div>
<div class="left_tel"><img src="/image/aboutus_r5_c2.png"></div>
<div class="left_tel"><img src="/image/aboutus_r8_c2.png"></div>
</div>
